{% extends 'base.html' %}
{% block conteudo %}

  <form action="/cadastrarUsuario" method="POST">
    <label> CPF: </label>
    <input type="text" name="cpf" id="cpf"/><br><br>

    <label> nome: </label>
    <input type="text" name="nome" id="nome"/><br><br>

    <label> telefone: </label>
    <input type="number" name="telefone" id="telefone"/><br><br>

    <label> endereço: </label>
    <input type="text" name="endereco" id="endereco"/><br><br>

    <button>cadastrar</button>
  </form>

  <br>
  <a href="/listar">consultar tudo</a><br><br>
  <a href="listarIndividual">consultar individual</a><br><br>
  <a href="/atualizar">atualizar</a><br><br>
  <a href="/excluir">excluir</a>

{% endblock %}
